.complete-title {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0 10px;
}

.complete-subtitle {
  font-size: 48px;
  text-align: center;
  margin: 10px 0;
}

.complete-time {
  font-size: 35px;
  text-align: center;
  color: #e82929;
  margin-bottom: 30px;
    font-weight: bold;
}

.complete-number {
  font-size: 160px; /* 더 크게 */
  font-weight: bold;
  text-align: center;
  color: #3a3a58;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  line-height: 1;       /* 글자 위아래 간격 최소화 */
  height: 150px;        /* 공간 고정 (폰트 크기보다 약간 여유 있게) */
}


.complete-receipt {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
}

.complete-receipt img {
  width: 400px;
  height: auto;
   margin-left: -60px; 
}

.receipt-btn {
  display: block;
  margin: 0 auto;
  padding: 14px 40px;
  font-size: 40px;
  font-weight: bold;
  background-color: #3a3a58;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.2s;
   margin-top: 100px; 
}

.receipt-btn:hover {
  background-color: #2b2b40;
}
.auto-redirect-msg {
  position: absolute;
  bottom: 20px;   /* 아래에서 20px 떨어짐 */
  left: 30px;     /* 왼쪽에서 20px 떨어짐 */
  font-size: 20px;
  color: #555;    /* 은은한 회색 */
  font-style: italic;
    font-weight: bold; 
}